.login {
  width: fit-content;
  margin: 10% auto;
  border: 1px solid black;
  padding: 5%;
  div:not(:last-child) {
    margin-bottom: 25px;
    display: flex;
    label {
      flex: 1;
      margin-right: 10px;
    } 
    input {
      flex: 2;
    }
  }
}